<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <%- include("./includes/header.ejs") %>
        <main>
            <div class="wrapper">
                <form action="/shrink-url" name="urlForm" method="post">
                    <input type="url" name="url" required placeholder="Enter you URL" <% if(url){ %>value="<%=
                        url.longURL %>"<%}%>>
                            <button type="submit">Shrink</button>
                </form>
                <% if(url) { %>
                    <div class="shorten-url">
                        <p><a target="_blank" href="<%=url.shortURL %>">
                                <%= url.shortURL %>
                            </a></p>
                    </div>
                    <% } %>
        </main>
        </div>
        <%- include("./includes/footer.ejs") %>


</body>

</html>